
/*
 * See list of named colors
 * https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/named-color
 */

#named-color {

    background-color: aquamarine;
}

#rgb-green {

    background-color: rgb(0, 255, 0);
}

/*
 * Using also the alpha channel for transparency:
 * 0.0 = fully transparent
 * 1.0 = fully opaque (German: blickdicht, undurchsichtig)
 */
#rgb-green-alpha-20percent {

    background-color: rgba(0, 255, 0, 0.2);
}

#rgb-green-alpha-80percent {

    background-color: rgba(0, 255, 0, 0.8);
}

#hex-green {

    background-color: #00ff00;
}

#hex-green-alpha-20percent {

    background-color: #00ff0033;
}

#hex-green-alpha-80percent {

    background-color: #00ff00cc;
}

