
/*
 * See list of named colors
 * https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/named-color
 */

#named-color-aquamarine {

    background-color: aquamarine;
}

#named-color-lavender {

    background-color: lavender;
}

/* *** RGB values *** */

#rgb-green {

    background-color: rgb(0, 255, 0);
}

#rgb-green-alpha20 {

    background-color: rgba(0, 255, 0, 0.2);
}

#rgb-green-alpha80 {

    background-color: rgba(0, 255, 0, 0.8);
}


#rgb-green-percent {

    background-color: rgb(0%, 100%, 0%);
}

#rgb-green-alpha20-percent {

    background-color: rgba(0%, 100%, 0%, 20%);
}

#rgb-green-alpha80-percent {

    background-color: rgba(0%, 100%, 0%, 80%);
}


#hex-green {

    background-color: #00ff00;
}

#hex-green-alpha20 {

    background-color: #00ff0033;
}

#hex-green-alpha80 {

    background-color: #00ff00cc;
}


/* *** HSL values *** */

#hsl-green {

    background-color: hsl(120 100% 50%);
}

#hsl-green-alpha20 {

     background-color: hsl(120 100% 50% / 20%)
}

#hsl-green-alpha80 {

    background-color: hsl(120 100% 50% / 80%);
}
