
p {
    background-color: orange;
}

#border-1a {
    border: 1px solid black;
}

#border-1b {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

#border-2 {
    border: 10px solid black;
}

#border-3 {
    border: 15px dotted green;
}

#border-4 {
    border: 10px dashed red;
}

#border-5 {
    border: 10px double blue;
}

#border-6 {
    border: 20px groove purple;
}

#border-7 {
    border: 20px ridge yellow;
}

#border-8 {
    border: 10px inset brown;
}

#border-9 {
    border: 10px outset brown;
}

#border-10 {
    border: 10px solid black;
    border-radius: 20px;
}

#border-11 {
    border-left  :  5px solid  black;
    border-right : 10px dotted purple;
    border-top   : 10px solid  black;
    border-bottom: 10px dashed green;
}