
@font-face {
  font-family: 'HennyPenny';
  src: url('HennyPenny-Regular.ttf') format('truetype');
}

.google-font-henny-penny {
  font-family: 'HennyPenny', cursive;
}


.generic-font-serif {
	font-family: serif;
}
.generic-font-sans-serif {
	font-family: sans-serif;
}
.generic-font-monospace {
	font-family: monospace;
}
.generic-font-cursive {
	font-family: cursive;
}
.generic-font-fantasy {
	font-family: fantasy;
}


.font-serif {
	font-family: "Times New Roman", Times, serif;
}
.font-sans-serif {
	font-family: Arial, Helvetica, sans-serif;
}
.font-monospace {
	font-family: "Courier New", Courier, monospace;
}
.font-cursive {
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.font-fantasy {
	font-family: Impact, fantasy;
}

