

.text-align-left {
	text-align: left;
}
.text-align-center {
	text-align: center;
}
.text-align-right {
	text-align: right;
}

.text-shadow-none {
	text-shadow: none;
}
.text-shadow-1px {
	text-shadow: 1px 1px 0 gray;
}
.text-shadow-2px {
	text-shadow: 2px 2px 0 gray;
}
.text-shadow-5px {
	text-shadow: 5px 5px 0 gray;
}
.text-shadow-5px-blur-5px {
	text-shadow: 5px 5px 5px gray;
}
.text-shadow-10px-top {
	text-shadow: 0px -10px 0 lightgray;
}
.text-shadow-20px-right {
	text-shadow: 20px 0px 0 lightgray;
}
.text-shadow-2px-orange {
	text-shadow: 2px 2px 0 orange;
}


.word-spacing-normal {
	word-spacing: normal; /* default value: 0 */
}
.word-spacing-0-5em {
	word-spacing: 0.5em;
}
.word-spacing-1-5em {
	word-spacing: 1.5em;
}

.word-spacing-0 {
	word-spacing: 0;
}
.word-spacing-negative-0-1em {
	word-spacing: -0.1em;
}
.word-spacing-negative-0-2em {
	word-spacing: -0.2em;
}
.word-spacing-negative-0-5em {
	word-spacing: -0.5em;
}


.letter-spacing-normal {
	letter-spacing: normal;
}
.letter-spacing-0px {
	letter-spacing: 0px;
}

.letter-spacing-2px {
	letter-spacing: 2px;
}
.letter-spacing-5px {
	letter-spacing: 5px;
}
.letter-spacing-negative-1px {
	letter-spacing: -1px;
}
.letter-spacing-negative-2px {
	letter-spacing: -2px;
}


.line-height-normal {
	line-height: normal;
}

/* Unitless values multiply the element's font size. */
.line-height-1 {
	line-height: 1;
}
.line-height-1-5 {
	line-height: 1.5;
}
.line-height-2 {
	line-height: 2;
}

.text-indent-0 {
	text-indent: 0;
}
.text-indent-1em {
	text-indent: 1em;
}
.text-indent-2em {
	text-indent: 2em;
}
.text-indent-minus-1em {
	text-indent: -1em;
}

